[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = https://github.com/0aids/imgui-node-editor.git
[submodule "external/imnodes"]
	path = external/imnodes
	url = https://github.com/Nelarius/imnodes.git
